<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav_links">
        <ul class="links">
            <li><span class="logo">iReporter</span></li>
            <li><a href="user.html">home</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
    <div class="admin_card">
        <div id="profile">
            <h1>User profile</h1>
            <img src="/imgs/download.png">
            <p>name:senabulya joseph</p>
            <p>joined:12/08/2018</p>
            <p>resolved red-flags/interventions: 24</p>
            <p>rejected red-flags/interventions: 24</p>
            <p>red-flags/interventions under investigation: 24</p>
        </div>
        <div id="profile_info">
            <h1>Red-flags</h1>
            <button onclick="window.location.href='#link1'">traffic officer takes bribe</button>
            <div id="link1">
                <button class="hide">view</button>
                <button class="delete">delete</button>
            </div>
            <button onclick="window.location.href='#link2'">traffic officer takes bribe</button>
            <div id="link2">
                <button class="hide">view</button>
                <button class="delete">delete</button>
            </div>
            <button onclick="window.location.href='#link3'">traffic officer takes bribe</button>
            <div id="link3">
                <button class="hide">view</button>
                <button class="delete">delete</button>
            </div>
            <h1>interventions</h1>
            <button onclick="window.location.href='#link4'">traffic officer takes bribe</button>
            <div id="link4">
                <button class="hide">view</button>
                <button class="delete">delete</button>
            </div>
            <button onclick="window.location.href='#link5'">traffic officer takes bribe</button>
            <div id="link5">
                <button class="hide">view</button>
                <button class="delete">delete</button>
            </div>
            <button onclick="window.location.href='#link6'">traffic officer takes bribe</button>
            <div id="link6">
                <button class="hide">view</button>
                <button class="delete">delete</button>
            </div>
            
        </div>
    </div>

</body>
</html>